commands:
  fix_cache_permissions:
    command: |
      sudo chown -R webapp:webapp /var/app/current/bootstrap/cache
      sudo chmod -R 775 /var/app/current/bootstrap/cache
      sudo chmod -R 755 /var/app/current/resources
      sudo mkdir -p /var/app/staging/storage/logs
      sudo chmod -R 755 /var/app/staging/storage
      php /var/app/current/artisan config:clear
      php /var/app/current/artisan view:clear
      php /var/app/current/artisan route:clear
      php /var/app/current/artisan cache:clear
      php /var/app/current/artisan config:cache
      php /var/app/current/artisan view:cache
