commands:
  fix_cache_permissions:
    command: |
      chown -R webapp:webapp /var/app/current/bootstrap/cache
      chmod -R 775 /var/app/current/bootstrap/cache
      chmod -R 755 /var/app/current/resources
      mkdir -p /var/app/staging/storage/logs
      chmod -R 755 /var/app/staging/storage
      mkdir -p /var/app/staging/storage/framework
      chmod -R 755 /var/app/staging/storage/framework
